<?xml version="1.0" encoding="utf-16"?>
<Config>
    <Group Name="L-S-T0_LocalAdmins_Servers"/>
    <Group Name="L-S-T1_LocalAdmins_Servers"/>
    <Group Name="L-S-T1L_LocalAdmins_Servers"/>
    <Group Name="L-S-T0_LocalAdmins_Workstations"/>
    <Group Name="L-S-T2_LocalAdmins_Workstations"/>
    <Group Name="L-S-T2L_LocalAdmins_Workstations"/>
</Config>
