<?xml version="1.0" encoding="utf-8"?>
<Settings>
    <User> 
        <DisplayName>
            <T0M> (Tier 0 Man.)</T0M>
            <T0O> (Tier 0 Ope.)</T0O>
            <T1M> (Tier 1 Man.)</T1M>
            <T1A> (Tier 1 Adm.)</T1A>
            <T1O> (Tier 1 Ope.)</T1O>
            <T2M> (Tier 2 Man.)</T2M>
            <T2A> (Tier 2 Adm.)</T2A>
            <T2O> (Tier 2 Ope.)</T2O>
            <L1O> (Tier 1 Leg. Ope.)</L1O>
            <L2O> (Tier 2 Leg. Ope.)</L2O>
        </DisplayName>
        <Description>
            <T0M> - Tier 0 Manager</T0M>
            <T0O> - Tier 0 Operator</T0O>
            <T1M> - Tier 1 Manager</T1M>
            <T1A> - Tier 1 Administrator</T1A>
            <T1O> - Tier 1 Operator</T1O>
            <T2M> - Tier 2 Manager</T2M>
            <T2A> - Tier 2 Administrator</T2A>
            <T2O> - Tier 2 Operator</T2O>
            <L1O> - Tier 1 Legacy Operator</L1O>
            <L2O> - Tier 2 Legacy Operator</L2O>
        </Description>
        <Path>
            <T0M>OU=UsersT0,OU=%OU-ADM%,ROOTDN</T0M>
            <T0O>OU=UsersT0,OU=%OU-ADM%,ROOTDN</T0O>
            <T1M>OU=%OU-ADM-USERS%,OU=%OU-ADM-T1%,OU=%OU-ADM%,ROOTDN</T1M>
            <T1A>OU=%OU-ADM-USERS%,OU=%OU-ADM-T1%,OU=%OU-ADM%,ROOTDN</T1A>
            <T1O>OU=%OU-ADM-USERS%,OU=%OU-ADM-T1%,OU=%OU-ADM%,ROOTDN</T1O>
            <T2M>OU=%OU-ADM-USERS%,OU=%OU-ADM-T2%,OU=%OU-ADM%,ROOTDN</T2M>
            <T2A>OU=%OU-ADM-USERS%,OU=%OU-ADM-T2%,OU=%OU-ADM%,ROOTDN</T2A>
            <T2O>OU=%OU-ADM-USERS%,OU=%OU-ADM-T2%,OU=%OU-ADM%,ROOTDN</T2O>
            <L1O>OU=%OU-ADM-USERS%,OU=%OU-ADM-L1%,OU=%OU-ADM%,ROOTDN</L1O>
            <L2O>OU=%OU-ADM-USERS%,OU=%OU-ADM-L2%,OU=%OU-ADM%,ROOTDN</L2O>
        </Path>
    </User>
    <Group>
        <samAccountName>
            <T0M>G-S-T0-Managers</T0M>
            <T0O>G-S-T0-Operators</T0O>
            <T1M>G-S-T1-Managers</T1M>
            <T1A>G-S-T1-Administrators</T1A>
            <T1O>G-S-T1-Operators</T1O>
            <T2M>G-S-T2-Managers</T2M>
            <T2A>G-S-T2-Administrators</T2A>
            <T2O>G-S-T2-Operators</T2O>
            <L1O>G-S-L1_Operator</L1O>
            <L2O>G-S-L2_Operator</L2O>
        </samAccountName>
    </Group>
</Settings>