<?xml version="1.0" encoding="utf-16"?>
<Config>
    <Keys Name="Local Admin's OU for T0 members" Value="OU=LocalAdmins,OU=GroupsT0,OU=_Administration,DC=em,DC=oswald,DC=com"/>
    <Keys Name="Local Admin's OU for T1 members" Value="OU=LocalAdmins,OU=GroupsT1,OU=_Administration,DC=em,DC=oswald,DC=com"/>
    <Keys Name="Local Admin's OU for T2 members" Value="OU=LocalAdmins,OU=GroupsT2,OU=_Administration,DC=em,DC=oswald,DC=com"/>
    <Keys Name="Local Admin's OU for Legacies Workstations" Value="OU=LocalAdmins,OU=GroupsT2L,OU=_Administration,DC=em,DC=oswald,DC=com"/>
    <Keys Name="Local Admin's OU for Legacies servers" Value="OU=LocalAdmins,OU=GroupsT1L,OU=_Administration,DC=em,DC=oswald,DC=com"/>

    <Keys Name="Production OU for T0 members" Value="OU=Harden_T0,DC=em,DC=oswald,DC=com"/>
    <Keys Name="Production OU for T1 members" Value="Ou=Servers,OU=Harden_T12,DC=em,DC=oswald,DC=com"/>
    <Keys Name="Production OU for T2 members" Value="OU=Workstations,OU=Harden_T12,DC=em,DC=oswald,DC=com"/>
    <Keys Name="Production OU for TLegacy members" Value="OU=Harden_TL,DC=em,DC=oswald,DC=com"/>

    <Keys Name="PAW OU" Value="OU=PawAccess,OU=_Administration,DC=em,DC=oswald,DC=com"/>
    <Keys Name="PAW OU for T0" Value="OU=PawT0,OU=_Administration,DC=em,DC=oswald,DC=com"/>
    <Keys Name="PAW OU for T12L" Value="OU=PawT12L,OU=_Administration,DC=em,DC=oswald,DC=com"/>
    <Keys Name="Nomenclature for Local Admin groups" Value="L-S_LocalAdmins_%ComputerName%"/>
</Config>
