<?xml version="1.0" encoding="utf-16"?>
<Config>
    <Keys Name="Local Admin's OU for T0 members" Value="OU=LocalAdmins,OU=GroupsT0,OU=Administration,DC=em,DC=city"/>
    <Keys Name="Local Admin's OU for T1 members" Value="OU=LocalAdmins,OU=GroupsT1,OU=Administration,DC=em,DC=city"/>
    <Keys Name="Local Admin's OU for T2 members" Value="OU=LocalAdmins,OU=GroupsT2,OU=Administration,DC=em,DC=city"/>
    <Keys Name="Local Admin's OU for Legacies Workstations" Value="OU=LocalAdmins,OU=GroupsT1,OU=Administration,DC=em,DC=cityL"/>
    <Keys Name="Local Admin's OU for Legacies servers" Value="OU=LocalAdmins,OU=GroupsT2,OU=Administration,DC=em,DC=cityL"/>

    <Keys Name="Production OU for T0 members" Value="OU=Harden_T0,DC=em,DC=city"/>
    <Keys Name="Production OU for T1 members" Value="Ou=Servers,OU=%OU-Production-T1%,DC=em,DC=city"/>
    <Keys Name="Production OU for T2 members" Value="OU=Workstations,OU=%OU-Production-T2%,DC=em,DC=city"/>
    <Keys Name="Production OU for TLegacy members" Value="OU=Harden_TL,DC=em,DC=city"/>

    <Keys Name="PAW OU" Value="OU=Paw,OU=Administration,DC=em,DC=city"/>
    <Keys Name="PAW OU for T0" Value="OU=PawT0,OU=Administration,DC=em,DC=city"/>
    <Keys Name="PAW OU for T12L" Value="OU=PawT12L,OU=Administration,DC=em,DC=city"/>
    <Keys Name="Nomenclature for Local Admin groups" Value="L-S-LocalAdmins_%ComputerName%"/>
</Config>

