<Config>
    <Keys Name="Local Admin's OU for T0 members" Value="OU=%OU-LocalAdmins%,OU=%OU-ADM-Groups-T0%,OU=%OU-Administration%,%RootDN%"/>
    <Keys Name="Local Admin's OU for T1 members" Value="OU=%OU-LocalAdmins%,OU=%OU-ADM-Groups-T1%,OU=%OU-Administration%,%RootDN%"/>
    <Keys Name="Local Admin's OU for T2 members" Value="OU=%OU-LocalAdmins%,OU=%OU-ADM-Groups-T2%,OU=%OU-Administration%,%RootDN%"/>
    <Keys Name="Local Admin's OU for Legacies Workstations" Value="OU=%OU-LocalAdmins%,OU=%OU-ADM-Groups-T1L%,OU=%OU-Administration%,%RootDN%"/>
    <Keys Name="Local Admin's OU for Legacies servers" Value="OU=%OU-LocalAdmins%,OU=%OU-ADM-Groups-T2L%,OU=%OU-Administration%,%RootDN%"/>

    <Keys Name="Production OU for T0 members" Value="OU=%OU-Production-T0%,%RootDN%"/>
    <Keys Name="Production OU for T1 members" Value="Ou=%OU-PRD-T12-Servers%,OU=%OU-Production-T1%,%RootDN%"/>
    <Keys Name="Production OU for T2 members" Value="OU=%OU-PRD-T12-Workstations%,OU=%OU-Production-T2%,%RootDN%"/>
    <Keys Name="Production OU for TLegacy members" Value="OU=%OU-Production-TL%,%RootDN%"/>

    <Keys Name="PAW OU" Value="OU=%OU-PAW%,OU=%OU-Administration%,%RootDN%"/>
    <Keys Name="PAW OU for T0" Value="OU=%OU-PAW-T0%,OU=%OU-Administration%,%RootDN%"/>
    <Keys Name="PAW OU for T12L" Value="OU=%OU-PAW-T12L%,OU=%OU-Administration%,%RootDN%"/>
    <Keys Name="Nomenclature for Local Admin groups" Value="%Prefix%-%Groups_Computers%"/>
</Config>
